'.text.jade':
  'ui-breadcrumb':
    'prefix': 'ui-breadcrumb'
    'body': '.ui.breadcrumb $1'
  'ui-huge-breadcrumb':
    'prefix': 'ui-huge-breadcrumb'
    'body': '.ui.huge.breadcrumb $1'
  'ui-large-breadcrumb':
    'prefix': 'ui-large-breadcrumb'
    'body': '.ui.large.breadcrumb $1'
  'ui-small-breadcrumb':
    'prefix': 'ui-small-breadcrumb'
    'body': '.ui.small.breadcrumb $1'
